@{
  Layout = "_Layout";
}

<h1>Welcome to the Technologically Advanced Factory</h1>
<p>@Html.ActionLink("View Engineers", "Index", "Engineer")</p>
<p>@Html.ActionLink("View Machines", "Index", "Machine")</p>